:root {
  /* components responsivos globais */
  --min-tela: 280px;
  --max-tela: 1fr;

  /* fontes 
  xl : extra larga :: Titulo  //   md : media :: paragrafo
  funcao  clamp(min, ideal, max) 
  */

  --font-xl: clamp(2rem, 2vw + 0.1rem, 3rem); /* 4rem, 10vw + 0.1rem, 8rem */
  --font-md: clamp(
    1rem,
    1.2vw + 0.1rem,
    1.5rem
  ); /* 1rem, 1.5vw + 0.1rem, 1.5rem */

  /* Header */
  --heightHeadermain: 10vh; /* define a altura do header */
  --topBody: 5vh; /* define -  quanto o body vai abaixar abaixo do header calculado*/
  --bottomBody: 6vh;

  /* Container :: Wrapper geral */
  --marginContainer: auto;
  --widthContainer: 90vw;

  /* padding : distancia externa :: comecao encima --segue igual relogio*/
  --padding-l-container: 1rem;

  /* line right para espaço entre linhas :: 0.8 ou 1.1 */
  --line-height-container: 1.1;
}

/* Reset Padrao */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  padding-top: calc(
    var(--heightHeadermain) + var(--topBody)
  ); /* para empurrar apra baixo os conteudos abaixo do header */

  margin-bottom: var(--bottomBody);

  /* Normalmente para Container */
  line-height: var(--line-height-container);
}

/* Container Geral */
.container {
  width: var(--widthContainer);
  margin: var(--marginContainer);
  padding: var(--padding-l-container);
  background: red;
}

/* textos  */
h1 {
  font-size: var(--font-xl);
}

p {
  font-size: var(--font-md);
}
